<!DOCTYPE html>
<html>
  <head>
    <title>Itsraw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url(http://i.imgur.com/t51f3J2m.jpg)">
  	
    <%= yield %>
  </body>
</html>
<!-- sources for Gordon Ramsay pics: 
  	http://reallyusefultraininganddevelopment.ie/wp-content/uploads/2011/07/angry3_25oct07_wenn_170.jpg

	http://66.media.tumblr.com/tumblr_lqyp9fwBS61qa0fbpo1_1280.png

	http://www.vitadamamma.com/wp-content/uploads/2015/06/gordon-ramsay.jpeg

	https://pbs.twimg.com/profile_images/3550680490/c18277bddf17b9759afd7da6f38d3283_400x400.jpeg

	https://i.ytimg.com/vi/AVMtt2o2KiI/hqdefault.jpg
	http://www.ahlanlive.com/sites/default/files/images/2014/07/27/gordon.JPG

	https://i.ytimg.com/vi/UjE-cBDFphQ/hqdefault.jpg
	http://www.2004dnc.com/hellskitchen/hellskitchen_gordonramsay_2a.jpg -->